#reading-parent-container.in-active{
    display: none;
}
#chapter-parent-container {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;
    padding : 0px;
}

#chapter-parent-container .chapter-container {
    /*height: 300px;*/
}

#chapter-parent-container .chapter-container .chapter-segment-container {

}

/** custom scroll bar */
.tooltip-container::-webkit-scrollbar-track,
.toc-chapter-list::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
    background-color: #e4e4e4;
}
#chapter-parent-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: #e4e4e4;
}

.tooltip-container::-webkit-scrollbar,
.toc-chapter-list::-webkit-scrollbar{
    width: 0px;
	background-color: #e4e4e4;
}
#chapter-parent-container::-webkit-scrollbar
{
	width: 0px;
	background-color: #e4e4e4;
}

.tooltip-container::-webkit-scrollbar-thumb,
.toc-chapter-list::-webkit-scrollbar-thumb{
    border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4d4d4d;
}
#chapter-parent-container::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4d4d4d;
}
/** Custom scrollbar ends here **/

.screen-message-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    z-index:99;
    background-color: white;
    z-index: 99999;
}

.display-message{
    margin-top: 40vh;
}

img.small-size{
    width: 40px;
    height: 40px;
}
img.middle-size{
    width: 100px;
    height: 100px;
}

.page-loading.in-active{
    display: none;
}
.error-page.in-active{
    display: none;
}
.display-message .msg{
    font-size: 18px;
    margin-top: 20px;
}
.red-font{
    color: #FF4646;
}
.black-font{
    color: #4D4D4D;
}

/**
**
Chapter content styling : common text styling and formatting across themes, add below
**
**/
#chapter-parent-container .chapter-segment-placeholder {
    background-image: url("../images/segment_placeholder.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 400px;
}

#chapter-parent-container .chapter-segment-container,
#chapter-parent-container .chapter-heading-container{
    padding: 0px 20px;
}

#chapter-parent-container .chapter-heading-container{
    margin-top: 60px;
}

#chapter-parent-container .chapter-heading-container .chapter-name,
#chapter-parent-container .chapter-heading-container .chapter-number{
    font-size: 26px;
    color: #ff4546;
    margin-bottom: 10px;
}
#chapter-parent-container .chapter-heading-container .chapter-ornament{
    width: 32px;
    height: 10px;
    display: inline-block;
    margin-top: 20px;
}

#chapter-parent-container .chapter-segment-container p {
    margin-bottom: 15px;
    font-family: "Charter",sans-serif;
    word-wrap: break-word;
}

#chapter-parent-container .chapter-segment-container ol, ul{
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 40px;
    word-wrap: break-word;
}

#chapter-parent-container .chapter-segment-container ol li, ul li{
    list-style-type: decimal;
    color: #333;
    font-family: "Charter",sans-serif;
    word-wrap: break-word;
    /*font-size: 20px;
    line-height: 30px;*/
}

#chapter-parent-container .chapter-segment-container img{
    width: 100%;
    height: auto;
    margin: 40px 0;
    display: block;
}

#chapter-parent-container .chapter-segment-container blockquote {
    color: #ff4646;
    font-family: "Charter", sans-serif;
    padding: 20px 100px 30px 10px;
    font-style: italic;
    word-wrap: break-word;
}
#chapter-parent-container .chapter-segment-container fnote.footnote-activator {
    width: 20px;
    content: url(../images/footnote.png);
    cursor: pointer;
    margin: 0px 5px;
    cursor: pointer;
}

/*
#chapter-parent-container .chapter-segment-container p {
    font-size: 18px;
    line-height: 27px;
}
*/




/** Themes
* .black-BG-theme
* .white-BG-theme
* .biege-BG-theme
* .grey-BG-theme
**/


.black-BG-theme#chapter-parent-container{
    background-color: rgba(0, 0, 0, 1);
}
.grey-BG-theme#chapter-parent-container{
    background-color: rgba(245, 245, 245, 1);
}
.biege-BG-theme#chapter-parent-container{
    background-color: rgba(255, 248, 238, 1);
}
.white-BG-theme#chapter-parent-container{
    background-color: rgba(255, 255, 255, 1);
}

.black-BG-theme#chapter-parent-container p,
.black-BG-theme#chapter-parent-container ul li,
.black-BG-theme#chapter-parent-container ol li{
    color: white;
}
.black-BG-theme#chapter-parent-container .chapter-heading-container .chapter-ornament{
    background: url("../images/readimg_pase_light.png") no-repeat;
}
.grey-BG-theme#chapter-parent-container .chapter-heading-container .chapter-ornament,
.white-BG-theme#chapter-parent-container .chapter-heading-container .chapter-ornament,
.biege-BG-theme#chapter-parent-container .chapter-heading-container .chapter-ornament{
    background: url("../images/readimg_pase_dark.png") no-repeat;
}

/** FONT-size, LINE-height
* .line-height-medium, .line-height-small, .line-height-large
* .font-size-medium, .font-size-small, .font-size-large
**/

.line-height-small#chapter-parent-container p,
.line-height-small#chapter-parent-container ul,
.line-height-small#chapter-parent-container ol,
.line-height-small#chapter-parent-container ul li,
.line-height-small#chapter-parent-container ol li{
    line-height: 27px;
}
.line-height-medium#chapter-parent-container p,
.line-height-medium#chapter-parent-container ul li,
.line-height-medium#chapter-parent-container ol li{
    line-height: 30px;
}
.line-height-large#chapter-parent-container p,
.line-height-large#chapter-parent-container ul li,
.line-height-large#chapter-parent-container ol li{
    line-height: 33px;
}

.font-size-xsmall#chapter-parent-container p,
.font-size-xsmall#chapter-parent-container ul li,
.font-size-xsmall#chapter-parent-container ol li{
    font-size: 16px;
}
.font-size-small#chapter-parent-container p,
.font-size-small#chapter-parent-container ul li,
.font-size-small#chapter-parent-container ol li{
    font-size: 18px;
}
.font-size-medium#chapter-parent-container p,
.font-size-medium#chapter-parent-container ul li,
.font-size-medium#chapter-parent-container ol li{
    font-size: 20px;
}
.font-size-large#chapter-parent-container p,
.font-size-large#chapter-parent-container ul li,
.font-size-large#chapter-parent-container ol li{
    font-size: 22px;
}
.font-size-xlarge#chapter-parent-container p,
.font-size-xlarge#chapter-parent-container ul li,
.font-size-xlarge#chapter-parent-container ol li{
    font-size: 24px;
}

@media screen and (max-width: 768px){
    #reading-layout-container{
        margin-
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
    }
}
#reading-layout-container{
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    padding: 0px;
}

#style-btn-container{
    position: fixed;
    top: 0px;
    z-index: 999;
    background-color: #e4e4e4;
    width: auto;
    overflow: scroll;
    text-align: center;
    padding: 5px 10px;
    min-height: 150px;
    height: auto;

    display: none;
}
.seperate-btn-container {
    display: inline-block;
}

#page-number-container{
    position: absolute;
    height: 50px;
    bottom: 5px;
    /*background-color: rgba(77, 77, 77, 1);*/
}

#page-number-container #current-first-visible-page-number{
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: black;
    text-align: center;
    border-radius: 50%;
    background-color: #e4e4e4;
    float: right;
}

/** tooltip **/
.background-white#tooltip-container{
    background-color: white;
    color: black;
}
.background-black#tooltip-container{
    background-color: black;
    color: white;
}
#tooltip-container{
    position: fixed;
    max-height: 70vh;
    overflow-y: scroll;
    top: 20px;
    box-shadow: 0px 0.1px 10px 0.5px #4d4d4d;
    border-radius: 4px;
    word-wrap: break-word;
    z-index: 9;
}

#option-trigger-btn {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 40px;
    height: 40px;
    border-right: 0px;
    padding: 10px;
}
#option-trigger-btn.background-white{
    background-color: white;
    border: 1px solid #4d4d4d;
    border-right: none;
}
#option-trigger-btn.background-black{
    background-color: black;
    border: 1px solid white;
    border-right: none;
}
#option-trigger-btn .option-trigger-btn-icon {
    width: 20px;
    cursor: pointer;
}
#option-trigger-btn.background-white .option-trigger-btn-icon{
    content: url(../images/read_setting.png);
}
#option-trigger-btn.background-black .option-trigger-btn-icon{
    content: url(../images/read_setting_white.png);
}

.style-btn-container{
    position: absolute;
    top: 50px;
    right: 0px;
    width: 40px;
    height: auto;
    /*border: 1px solid #4d4d4d;*/
    border-right: 0px;
}
.style-btn-container.background-white{
    background-color: white;
}
.style-btn-container.background-black{
    background-color: black;
}

.option-expanded{
    position: absolute;
    right: 50px;
    /*width: 430px;*/
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 2px 0.1px #8c7b7b;
}

.text-format {
    height: 52px;
    width: 430px;
}

@media screen and (max-width: 500px){
    .text-format{
        width: 243px;
        height: 106px;
    }
    .background-color .background-color-update{
        width: 54px;
    }
}

.background-white .option-expanded{
    background-color: white;
}
.background-black .option-expanded{
    background-color: black;
}

.option-container{
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.background-white .option-container {
    background-color: white;
}
.background-black .option-container {
    background-color: black;
}
/*
.option-types{
    position: absolute;
    top: 50px;
    right: 0px;
    width: 40px;
    height: auto;
    border: 1px solid #4d4d4d;
    border-right: 0px;
}*/

.background-white .option-types{
    border: 1px solid black;
}
.background-black .option-types{
    border: 1px solid white;
}

.option-container{
    border-right: 1px solid #e4e4e4;
}

.background-white .option-container:not(:last-child){
    border-bottom: 1px solid black;
}
.background-black .option-container:not(:last-child){
    border-bottom: 1px solid white;
}

.text-format-icon, .toc-icon{
    width: 20px;
    cursor: pointer;
}
.background-white .text-format-icon {
    /*content: url(../images/read_setting.png);*/
    color: black;
}
.background-black .text-format-icon {
    /*content: url(../images/read_setting.png);*/
    color: white;
}

.background-white .toc-icon{
    content: url(../images/read_para.png);
}
.background-black .toc-icon{
    content: url(../images/read_para_white.png);
}

.font-size{
    padding: 4px 6px;
}
.line-height{
    padding: 4px 6px;
}
.background-color{
    padding: 4px 6px;
}

.font-size-update{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #e4e4e4;
    margin-top: 2px;
}

.line-height-update{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #e4e4e4;
}

.background-color-update{
    width: 40px;
    height: 40px;
    border: 1px solid #e4e4e4;
}

.background-color-update.active,
.font-size-update.active,
.line-height-update.active{
    border: 1px solid #FF4646;
}

.font-size-update .icon{
    padding: 12px 9px;
}
.line-height-update.small .icon{
    padding: 10px;
}
.line-height-update.medium .icon{
    padding: 8px;
}
.line-height-update.large .icon{
    padding: 7px;
}


.background-white .font-size-update.dec .icon{
    content: url(../images/font_minus.png);
}
.background-white .font-size-update.inc .icon{
    content: url(../images/font_plus.png);
}
.background-black .font-size-update.dec .icon{
    content: url(../images/font_minus_white.png);
}
.background-black .font-size-update.inc .icon{
    content: url(../images/font_plus_white.png);
}

.background-white .line-height-update.small .icon{
    content: url(../images/para1.png);
}
.background-white .line-height-update.medium .icon{
    content: url(../images/para2.png);
}
.background-white .line-height-update.large .icon{
    content: url(../images/para3.png);
}

.background-black .line-height-update.small .icon{
    content: url(../images/para1_white.png);
}
.background-black .line-height-update.medium .icon{
    content: url(../images/para2_white.png);
}
.background-black .line-height-update.large .icon{
    content: url(../images/para3_white.png);
}

.background-color-update.white{
    background-color: rgba(255, 255, 255, 1);
    color: black;
}
.background-color-update.black{
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
.background-color-update.grey{
    background-color: rgba(245, 245, 245, 1);
    color: black;
}
.background-color-update.biege{
    background-color: rgba(255, 248, 238, 1);
    color: black;
}




/*** Table of content styling ***/
.toc-heading {
    color: #FF4646;
    padding: 5px 5px;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
}

.background-white .toc-heading {
    border-bottom: 1px solid #e4e4e4;
}
.background-black .toc-heading {
    border-bottom: 1px solid white;
}

.table-of-content {
    width: 250px;
}


.chapter-toc {
    padding: 15px 0;
    clear: both;
    display: inline-block;
    font-family: "Charter",sans-serif;
    font-size: 17px;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.background-black .chapter-toc{
    color: white;
}
.background-white .chapter-toc{
    color: black;
}

.background-black .chapter-toc:not(:last-child){
    border-bottom: 1px solid white;
}
.background-white .chapter-toc:not(:last-child){
    border-bottom: 1px solid #e4e4e4;
}

.toc-chapter-list{
    padding: 10px;
    overflow-y: scroll;
    max-height: 350px;
}

.chapter-index{
    width: 25px;
    float: left;
    font-weight: bold;
}
.chapter-name-text {
    width: 170px;
    float: left;
    text-transform: capitalize;
}
.chapter-start-page {
    width: 35px;
    float: right;
    text-align: right;
    font-size: 13px;
    color: #000;
    opacity: .3;
}
